{% extends '::base.html.twig' %}

{% block body -%}
    <ol class="breadcrumb">
        <li><a href="{{ path('rudak_main_admin') }}">Administration</a></li>
        <li><a href="{{ path('admin_menu_item') }}">Liste des élements</a></li>
        <li class="active">Editer un élement</li>
    </ol>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
